[submodule "cosmos-sdk"]
	path = cosmos-sdk-go
	url = https://github.com/cosmos/cosmos-sdk.git
[submodule "wasmd"]
	path = wasmd
	url = https://github.com/CosmWasm/wasmd.git
[submodule "injective"]
	path = injective
	url = https://github.com/InjectiveFoundation/injective-core.git
